{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": "react-app",
	"rules": {
		"import/prefer-default-export": 0,
		"react-hooks/exhaustive-deps": 0,
		"no-restricted-globals": 0,
		"@typescript-eslint/no-unused-vars": 0,
		"@typescript-eslint/no-use-before-define": 0
	}
}
